// 最大幅指定
.main-header__blog-title,
.main-header__blog-description,
.main-header__navigation-items,
.customize-area,
.content-box,
.main-footer{
  margin: auto;
  padding: 0 1rem;
  max-width: 80rem;
}
